[package]
name = "picohttpparser-sys"
version = "0.1.0"
authors = ["Kevin Swiber <kswiber@gmail.com>"]
links = "picohttpparser"
build = "build.rs"

[dependencies]
libc = "*"

[build-dependencies]
cc = "1.0"

[features]
nightly = []
